<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="container">
    <header class="header">
      <h1>Get the best quality</h1>
    </header>
    @for (service of services; track service; let i = $index) {
    <div class="forms">
      <div class="me-5 ms-5" >
        <h2> {{service.title}} </h2>
        <p> {{service.description}} </p>
      </div>
      <h2 > {{service.price}}$ </h2>
      <div class="form-check">
        <label class="form-check-label" >
        <input class="form-check-input" name="{{service.id}}" type="checkbox" value="{{service.price}}" (change)="onChange($event, i)">
        Add
        </label>
        <div >
          <app-panel class="hidden" *ngIf="openPanel() && counter === i"></app-panel>
        </div>
      </div> 
    </div> 
   }  
    <section class="price">
      <h3>Budget price: {{clacFinalBudget()}} $</h3>
     </section>

     <div>
      
     </div>
     <app-budget-saved></app-budget-saved>
  </div>


</body>
</html>


