<!-- <button type="button" (click)="showDetails()">OPEN</button> -->

  <div class="container" *ngIf ="showPanel()">
    
    <label>Number of pages 
      <button>-</button>
      <span>1</span>
        <button >+</button>
      </label> <br>
      <label>Number of languges 
        <button>-</button>
        <span>1</span>
        <button >+</button>
        </label>
    
  </div>
<!-- <app-budget-list [openPanel]="showPanel()"></app-budget-list> -->

<!-- <app-budget-list [openPanel]="showPanel()" [onShowDetails]="showDetails"></app-budget-list> -->
