<ng-container>
  @for (panel of panelArray; track panel; let i = $index) {
  <section class="hidden">
    <button type="button" class="info" (click)="showInfo($event, i)">ⓘ</button>
    <div class="panelInfo" *ngIf ="toggled===true">
      <app-notifications></app-notifications>
    </div>
      <label >{{panel.title}} 
        <div>
          <button (click)="decrease(i)" >-</button>
            <span class="panelInfo">{{panel.quantity}}</span>
            <button (click)="increase(i)">+</button>
        </div>
      </label>
  </section>
  }
</ng-container>


